 {{!-- <nav class="navbar navbar-expand-lg navbar-light ">
     <img src="/images/logo3.png"  style="height: 75px; width: 105px;" class="nav-item">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li  id="link" class="nav-item">
          <a class="nav-link" href="/login">Available Dogs</a>
        </li>
          <li  id="link" class="nav-item">
          <a class="nav-link" href="/login">Available Cats</a>
        </li>
          <li  id="link" class="nav-item">
          <a class="nav-link" href="/login">Join The Forum</a>
        </li>
         <li  id="link" class="nav-item">
          <a class="nav-link" href="/login">Donate</a>
        </li>
        <li  id="link" class="nav-item">
          <a class="nav-link" href="/login">Contact Us</a>
        </li>
        <li  id="link" class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav> --}}
   <div class="background">
        <ul class="cb-slideshow">
            <li>
                <span>Image 01</span>
            </li>
            <li>
                <span>Image 02</span>
            </li>
            <li>
                <span>Image 03</span>
            </li>
            <li>
                <span>Image 04</span>
            </li>
            <li>
                <span>Image 05</span>
            </li>
        </ul>
    </div>