*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background{
    height: 100vh;
    width: 100vw;
}

.navbar{
    background-color: rgb(10, 10, 10);
    font-family:fantasy;
    font-size: 1.1rem;
   
}

.navbar-nav{
    display: flex;
    justify-content: center;
}


.navbar-light .navbar-nav .nav-link {
        color: rgb(243, 243, 224);
        margin-right: 25px;
        margin-top: 15px;
} 


.navbar-light .navbar-nav .nav-link:hover{
        color: rgb(187, 187, 187);
}

.nav-item{
    margin-right: 35px;
  
}

.fas{
    color:rgb(243, 243, 224) ;
} 


.sr-only{
    margin-right: 25px;
}

.back{
    
    margin-right: 15px;
    font-size: 1rem;
}

.nav-link{
    color:rgb(243, 243, 224) ;
}

.nav-link:hover{
    color:rgb(187, 187, 187) ;
}



.cb-slideshow,
.cb-slideshow:after { 
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
    overflow: hidden;
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(./images/2people1dog.jpeg);
  
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(./images/indoorcat.jpeg);
    animation-delay: 10s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(./images/fallphoto.jpeg);
    animation-delay: 20s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(./images/tabbycat.jpeg);
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(5) span { 
    background-image: url(./images/smallbreed.jpeg);
    animation-delay: 40s; 
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.card {
    flex: 0 1 24%;
    grid-template-columns: repeat(4, 1fr);display:flex;
    width: 500px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    padding: 2.5rem;
    float: left;
    width: 25%;
    padding: 10 40px;
    margin-left: 100px;
    margin-top: 50px;
    object-fit: contain;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    
  }
  .Image {
      max-width: 100%;
      height: 320px;
      object-fit: cover;
      border-radius: 10px;
      border-color: rgb(240, 235, 235);
      position:relative;
         
  }
  
  h1  {
      font-weight: 600;
      font-size: 28pt;
      position: relative;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      position: relative;
  }
    
  h4 {
      margin-top: 20px;
      text-align: justify;
      font-size: 15pt;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 0.5em;
      text-align: left;
      position: relative;

  
      }
  
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@media screen and (max-width: 200px) {
        .Image {
             width: 50%;
             height: 50%;
        }
  }



